<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>new</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src='main.js'></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="data in rowCollection">{{ data.name }} - {{ data.age }} - {{ data.unique}} <button ng-click="editEvent(data.id)">edit</button>- <button ng-click="deleteEvent(data.id)">delete</button></li>
    </ul>
    <div class="form-group">
        <label for="exampleFormControlInput1">name</label>
        <input type="text" class="form-control" ng-model="name" placeholder="name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">age</label>
        <input type="text" class="form-control" ng-model="age" placeholder="age">
    </div>
    <div
    class="form-group">
<label for="exampleFormControlInput1">unique</label>
<input type="text" class="form-control"ng-model="unique" placeholder="id"></div>
    <div class="form-group">

        <button type="submit" ng-click="submitEvent()" class="btn btn-primary">Submit</button>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "";
            $scope.age = "";
            $scope.unique="";
            $scope.editFlag=false;
            $scope.rowCollection = [
                {
                    id: 1,
                    name: 'test',
                    age: 25,
                    unique:1
                }
            ];
            $scope.editFlagId="";
            $scope.submitEvent = function () {
                // add
                if($scope.editFlag==false){
                    obj = {
                        id: $scope.rowCollection.length + 1,
                        name: $scope.name,
                        age: $scope.age
                    }
                    $scope.rowCollection.push(obj);
                    $scope.name = "";
                    $scope.age = "";
                    $scope.unique= "";
                }else{
                    //edit
                    for(let data of $scope.rowCollection){
                        if(data.id===$scope.editFlagId){
                            data.name=$scope.name;
                            data.age=$scope.age;
                            data.unique=$scope.unique;
                            break;
                        }
                }
                $scope.editFlag=false;
                $scope.editFlagId="";
                $scope.name = "";
                    $scope.age = "";
                    $scope.unique ="";

                }
                

            }
            $scope.editFlag=false;
            
            $scope.editEvent = function (id) {
                console.log(id);
                for(let data of $scope.rowCollection){
                    if(data.id===id){
                        $scope.editFlag=true;
                        $scope.editFlagId=data.id;
                        $scope.name=data.name;
                        $scope.age=data.age;
                        $scope.unique=data.unique;
                        break;
                    }
                }
                
            }
            $scope.deleteEvent= function (id) {
             $scope.rowCollection=$scope.rowCollection.filter(data=> data.id!==id);   
            }
        });
    </script>



</body>

</html>